@{
    ViewData["Title"] = "Home";
}
@section Styles{ 
<link rel="stylesheet" href="/css/Index.css" />
}

<body>
    <div class="intro" id="index">
        <h1 class="section__title section__title--index">
            <span class="code">&ltCode&gt</span><span class="blood">Blooded</span> Park Review Site
        </h1>

        <section class="subtitle" id="subtitle">
            <h4>By Cleveland for Cleveland</h4>
        </section>
        <div class="grid-2">
            <div class="grid-content">
                <img src="/Imgs/edgewater.jpg" alt="d"
                     class="index__img">
            </div>
            <div class="grid-content">
                <section class="intro-text" id="index-text">
                    <p>
                        Over the last year, the pandemic has forced many northeast Ohio residents to find new ways to socialize in outdoor spaces.  For others, getting outside is just a way of life. The parks across the Greater Cleveland area a prime meeting point for the new and frequent visitors.  What has been missing is an application that can help park goers know which park is the best on for them.  To address the need to have a local rating and review platform for Greater Clevelanders to know which park is best for them, Team Code Blooded has created a comprehensive park review website that allows your neighbors to tell you the best parks to frequent during the year.
                    </p> 
                </section>
            </div>
            <div class="grid-content">
                <p>
                    On this site, the user will be able to write about their experiences at local parks and give that park a star rating.  If you know which park you are looking for you can search that park and see what other have said about the park as well as where that park rates among other parks.  Users can search for parks that are ideal for their furry friends or how accessible a park is for people with disabilities.  Try our app and let everyone know which park is the most <strong>&ltCode&gt Blooded</strong>.
                </p>
            </div>
            <div class="grid-content">
                <img src="/Imgs/pexels.jpg" alt="d"
                     class="index__img">
            </div>
        </div>
    </div>

    </section>






</body>


