
.intro {
  padding: 25px;
}

.section__title--index {
  color: black;
  padding-bottom: 1em;
  text-align: center;
}
.subtitle {
    padding-bottom: 20px;
}
.index__img {
  grid-area: img;
  max-width: 650px;
  position: relative;
  background-size: cover;
}
.code {
    font-family: 'Source Code Pro', monospace;
}
.blood {
    font-family: 'Nosifer', cursive;
    color: darkred;
    text-shadow: 2px 2px black;
    display: inline-block;
}
.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
}
@media (max-width: 1200px) {
  .grid-2 {
    grid-template-columns: auto;
    grid-gap: 50px;
  }
  .index__img {
    max-width: 100%;
  }
}
.intro-text {
  /* position: relative;
    margin-left: 42em;
    padding-top: 10px;
    bottom: 400px; */
}
