@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

:root {
  --color1: #0FA3B1;
  --color2: #B5E2FA;
  --color3: #F9F7F3;
  --color4: #EDDEA4;
  --color5: #F7A072;
}
h1 {
    font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
h1, h2, p {
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: #f1e1cd;
}
.navbar, .navbar .container{
    background-color: var(--color3);
}
.navbar-nav {
  justify-content: flex-end;
}
.main-div {
    background-color: var(--color3);
    border-radius: 20px;
}
.footer {
    background-color: var(--color4);
}
.starIcon {
    width: 24px;
    margin-right: 4px;
    cursor: pointer;
}
